*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#cont{
    width: 500px;
    margin:auto;
}

#luck{
    text-align: center;
    color: red;
    background-color: black;
}

#Con{
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: red;
}

#btn:hover{
    cursor: pointer;
}

#inp:hover{
    border: 2px solid lightblue;
}